#header {
  margin: 0;
  border-bottom: 1px solid gray; }

.nv {
  margin-right: auto;
  margin-left: 20px; }

.nav-bar {
  padding: 0;
  color: black;
  margin: 0;
  list-style: none; }

.nav-bar li {
  padding: 10px 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  border-bottom: 2px transparent solid; }

.nav-bar ul li img {
  width: 30px; }

.nav-bar li p {
  margin: 0; }

.nav-bar li:hover {
  cursor: pointer;
  border-bottom-color: red;
  color: red;
  text-decoration: none; }

.nav-bar li:hover .hidden-left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-bar li:hover .hidden-right-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hidden-left-bar {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px;
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  color: black;
  background-color: white;
  z-index: 1111; }

.hidden-left-bar div {
  padding: 3px 0; }

.hidden-left-bar p {
  font-weight: bold;
  padding: 4px 0; }

.hidden-left-bar .hidden-list a {
  color: black; }

.hidden-right-bar {
  border: 1px gray solid;
  color: black;
  font-size: 10px;
  padding: 5px;
  display: none;
  width: auto;
  background-color: #f2f2f2;
  position: absolute;
  right: 50px;
  top: 52px; }

.hidden-middle-bar {
  border: 1px gray solid;
  color: black;
  display: none;
  background-color: white;
  position: absolute;
  right: 211px;
  top: 45px;
  width: 300px;
  padding: 15px; }

.middle-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.middle-bar a {
  text-decoration: none;
  color: black; }

.middle-bar-text {
  padding: 5px;
  color: black;
  font-size: 11px;
  font-weight: normal; }

.hidden-middle-bar .middle-bar-img img {
  padding: 2px;
  width: 50px; }

.nav-bar li:hover .hidden-middle-bar {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.fa-mobile-alt {
  font-size: 22px; }

.inner-burger {
  width: 24px;
  margin: 4px;
  height: 2px;
  background-color: black; }

.burger:hover, .logo:hover {
  cursor: pointer; }
