.part5-wrapper {
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  padding: 50px 0; }

.box-img {
  background-color: white; }

.box-img1 {
  background-image: url("../images/one.jpg");
  background-size: cover; }

.box-img2 {
  background-image: url("../images/two.jpg");
  background-size: cover; }

.box-img3 {
  background-image: url("../images/three.jpg");
  background-size: cover; }

.box-img4 {
  background-image: url("../images/four.jpg");
  background-size: cover; }

.white {
  background-color: white; }

.div:hover {
  cursor: pointer; }

.blue {
  background-color: blue; }
