.part4 {
	background-image: url('../images/forest.jpg');
	height: 500px;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

.part4 h2{
	text-align: center;
	font-size: 24px;
	margin: 40px 252px;
	width: 60%;
}

.part4 p {
	font-size: 20px;
}

.part4 button {
	font-size: 16px;
	padding: 10px 24px;
	background-color: transparent;
	border-radius: 30px;
	border: 1.2px white solid;
}

.part4 button a {
	text-decoration: none;
	color: white;
}
