.part8-wrap {
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 20px 0;
}

.bottom1 ul {
	text-align: left;
	font-weight: bold;
	padding-bottom: 2px;
}

.bottom1 ul li a{
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	color: black;
}

.bottom1 ul li{
	text-align: left;
	padding-top: 2px;
	font-weight: normal;
	list-style: none;
	font-size: 12px;
}

.lastP{
	color: white;
	font-size: 12px;
	margin-bottom:30px;
	padding-top:10px;
}
.lightgray{
	color: lightgray;
}
.end2{
	color: white;
}
.end2 ul{
	padding: 0;
	margin: 0;
}

.ul-wrapper ul li {
	padding: 10px 0;
}
