main .singlePage  {
    padding-top: 10px !important;
}

.singlePage p {
    font-size: 11px;
}
.singlePage h1 {
    font-size: 27px;
}

.singlePage p a {
    font-size: 12px;
}

.singlePage .price {
    font-size: 28px;
    font-weight: bold;
}

.singlePage .propertyType {
    font-weight: bold;
    padding: 4px;
    display: inline;
    color: white;
}

.singlePage .grayTitle {
    background-color: gray;
}

.singlePage .regForm {
    position: absolute;
    /*width: 260px;*/
    /*height: 310px;*/
    text-align: "center";
    border-radius: "30px";
}

.singlePage .formPage button{
    font-size: 11px !important;
}

.black {
    background-color: black;
}

.carousel-img {
    height: 500px;
    margin: 8px 0;
}

.inner-carousel-img {
    height: 100%;
}

.greenTitle {
    background-color: darkgreen;
}

.button-search {
    flex-direction: column;
    height: 39px;
    font-size: 20px !important;
    width: 40px !important;
}

header a .lefty {
    font-size: 28px;
    margin: 5px 10px 0 10px;
    color:black
}

header a .lefty:hover {
    text-decoration: none;
}

header {
    border-bottom: 1px solid lightgray;
}


.singlePage .under-image {
    margin: 10px 0;
}

.singlePage .titleApartment {
    background-color: white;
    margin-top: 11px;
    margin-bottom: 4px;
}

.singlePage .address {
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
    padding: 8px 0;
}

.singlePage .map-wrapper .graphical-uplift {
    display: flex;
    border-radius: 4px;
    border: 1px solid #C8C8C8;
}
.price {
    margin-right: 20px;
}

.paddingPage {
    padding-right: 10px;
}

.liIcon {
    font-size: 14px;
    padding-right: 30px;
}

.button1 {
    border-radius: 15px;
    font-size: 14px !important;
    padding: 6px 16px;
    margin: 0 10px;
}