@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

‏
body {
  font-family: 'Lato', sans-series; }

h1 {
  font-weight: bold;
  font-size: 36.8px;
  color: #FFFFFF; }

h2 {
  font-size: 24px;
  font-weight: bold; }

h4 {
  font-size: 16px;
  padding-top: 10px;
  background-color: #C0C0C0; }

input {
  font-size: 14px;
  width: 30%; }

.padding {
  padding: 40px 16px 0; }

.after-header {
  margin-top: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-right: 10px; }

.after-header img {
  width: 13px;
  margin-right: 5px; }

.after-header p {
  font-size: 14px;
  white-space: nowrap; }

.after-header button {
  white-space: nowrap;
  border-radius: 14px;
  padding: 6px 16px;
  border: red 1px solid;
  font-size: 14px;
  background-color: white;
  margin-left: 10px;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s; }

.after-header a button {
  text-decoration: none;
  color: red; }

.after-header pointer:hover {
  cursor: auto; }

.after-header button:hover {
  cursor: pointer;
  background-color: lightgray; }

.part1 {
  background-image: url("../images/main_image.PNG");
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 160px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 25px;
  margin-top: 10px !important; }

.sm {
  font-size: 22px;
  font-weight: none; }

@media (min-width: 767px) {
  .part1 h1 {
    font-size: 56px; } }

.part1 p {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 28px; }

.menu {
  padding-right: 10px;
  list-style: none; }

.menu a li {
  white-space: nowrap;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 6px; }

.menu a li:hover {
  cursor: pointer;
  border-bottom: 2px red solid; }

.form input {
  width: 600px;
  height: 55px;
  padding: 0 40px 0 24px;
  color: #333;
  border-style: none;
  border-radius: 5px 0 0 5px;
  font-size: 18px; }

@media (max-width: 901px) {
  .form input {
    width: 300px; } }

@media (max-width: 768px) {
  .part1 a .red-button {
    width: 40% !important;
    border-radius: 5px; } }

.part1 .form {
  padding-top: 20px; }

.part1 a .red-button {
  width: 100%; }

.red-button {
  display: inline-block;
  height: 55px;
  color: white;
  padding: 0 40px 0 24px;
  border-radius: 0 5px 5px 0;
  font-size: 18px;
  background-color: red;
  border-style: none; }

.d-contents {
  display: contents; }

.no-underline:hover {
  text-decoration: none; }

.part1 .button-icon {
  font-size: 22px; }

.part1 button:hover {
  cursor: pointer;
  background-color: darkred; }

.wrap-text-div a {
  text-decoration: none;
  color: blue; }

.inner-img-div {
  width: 100%;
  height: 180px;
  position: relative; }

.img-itself1 {
  background-image: url("../images/first.jpg");
  background-size: cover; }

.img-itself2 {
  background-image: url("../images/second.jpg");
  background-size: cover; }

.img-itself3 {
  background-image: url("../images/third.jpg");
  background-size: cover; }

.img-itself4 {
  background-image: url("../images/firth.jpg");
  background-size: cover; }

.text-div {
  height: 30%;
  text-align: left; }

.img-div {
  padding: 10px;
  text-align: center;
  position: relative; }

.inner-img-div:hover {
  -webkit-box-shadow: 1px 1px lightgray;
  box-shadow: 1px 1px lightgray;
  cursor: pointer; }

.green {
  background-color: green; }

.title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  padding: 6px; }

.sale {
  color: white;
  position: absolute;
  left: 10px;
  bottom: 30px;
  font-size: 12px; }

.img-div h5 {
  color: white;
  position: absolute;
  left: 10px;
  bottom: 5px; }

.bottom-title {
  padding: 5px;
  font-size: 13px; }

.inner-img-div .heart {
  position: absolute;
  top: 10px;
  right: 12px;
  color: black;
  font-size: 35px;
  z-index: 99; }

.inner-img-div .hidden-heart {
  position: absolute;
  top: 14px;
  right: 9px;
  display: none;
  font-size: 18px;
  z-index: 100;
  color: lightpink;
  opacity: 0.5; }

.inner-img-div:hover .hidden-heart {
  display: block; }

.part4 {
  margin: 30px 0;
  background-image: url("../images/forest.jpg");
  height: 500px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white; }

.part4 h2 {
  text-align: center;
  font-size: 24px;
  margin: 40px 252px;
  width: 60%; }

.part4 p {
  font-size: 20px; }

.part4 button {
  font-size: 16px;
  padding: 10px 24px;
  background-color: transparent;
  border-radius: 30px;
  border: 1.2px white solid; }

.part4 a button {
  text-decoration: none;
  color: white; }

.part8-wrap {
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 30px 0; }

.bottom1 ul {
  text-align: left;
  font-weight: bold;
  padding-bottom: 2px; }

.bottom1 ul li a {
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  color: black; }

.bottom1 ul li {
  text-align: left;
  padding-top: 2px;
  font-weight: normal;
  list-style: none;
  font-size: 12px; }

.lastP {
  color: white;
  font-size: 12px;
  margin-bottom: 30px;
  padding-top: 10px; }

.lightgray {
  color: lightgray; }

.end2 {
  color: white; }

.end2 ul {
  padding: 0;
  margin: 0; }

.ul-wrapper ul li {
  padding: 10px 0; }
