.wrapper {
	padding: 10px;
	margin-bottom: 30px;
}

.wrapper:hover {
	box-shadow: 1px 1px 3px 3px lightgray;
	cursor: pointer;
}

.part3 h2 {
	margin-bottom: 30px;
}
.columns {
	display: flex;
	width: 120px;
	font-size: 16px;
	color: #757575;
	text-align: center;
	flex-direction: column;
}

.blue-font {
	margin: 0;
	color: #3377CC;
	font-size: 28px;
}