.part7 {
  border-bottom: 1px solid gray;
  padding: 60px 0; }

.bottom ul {
  font-weight: bold; }

.bottom ul li a {
  font-weight: normal;
  font-size: 12 px;
  text-decoration: none;
  color: black; }

.bottom ul li {
  font-weight: normal;
  list-style: none;
  font-size: 12px;
  margin: 0 0 5px 20px; }

.bottom ul img {
  width: 120px; }
