.end1-wrap{
	background-color: #333333;
}

.end2-wrap{
	background-color: #333333;
}

.end2 {
	background-color: #3b3b3b;
}

.bar-nav-bottom ul{
	list-style: none;
	text-align: left;
	font-weight: bold;
	padding-bottom: 2px;;
	padding: 23px 0px 12px;
	font-size: 12px;
	color: white;

}

.bar-nav-bottom ul li a{
	font-weight: normal;
	text-decoration: none;
	color: white;
	font-size: 14px;
	margin-right: 10px;
}
